* {
/*  border: red solid 1px; */
}

.container {
  max-width: 1200px;
  margin-inline: auto;
}

body {
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

a {
  text-decoration: none;
  color: #e5e7eb;
}

/* Header */

header {
  background-color: #1f2937;
  color: #f9faf8;
}

header nav a:hover {
  font-style: italic;
}

header nav {
  display: flex;
  justify-content: space-between;
}

header nav h1 {
  font-size: 1.5rem;
}

header ul {
  display: flex;
  align-items: center;
  list-style-type: none;
  list-style-position: inside;
  font-size: 1.1rem;
  gap: 25px;
  padding: 0;
}

header .Hero-Main {
  display: flex;
  padding-block: 90px;
  gap: 35px;
}

header .Hero-Main h1 {
  font-size: 3rem;
  font-weight: bolder;
  margin: 0;
}

header .Hero-Main div {
  display: flex;
  flex-flow: column;
  justify-content: center;
}

header .Hero-Main p {
  font-size: 1.1rem;
}

header .Hero-Main img {
  max-width: 450px;
}

header .Hero-Main a {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bolder;
  background-color: #3882f6;
  border-radius: 5px;
  padding: 10px;
  width: 100px;
}

header .Hero-Main a:hover {
  background-color: yellow;;
  color: black;
}

/* Main */
main {
  color: #1d2937;
}

main div {
  display: flex;
  flex-direction: column;
  margin-block: 30px;
}

main div.more-info h1 {
  display: flex;
  justify-content: center;
}

main ul {
  list-style-type: none;
  list-style-position: inside;
  padding: 0;
  display: flex;
  justify-content: space-around;
  gap: 40px;
}

main figure {
  display: flex;
  flex-flow: column;
  align-items: center;
  margin: 0;
  gap: 10px;
}

main img {
  max-width: 175px;
  border: #3882f6 solid 5px;
  border-radius: 10px;
  margin: 0;
}

main figure figcaption {
  max-width: 190px;
  text-align: center;
  font-size: 1rem;
}

main div.quote {
  background-color: #e5e7eb;
  padding-block: 60px;
  margin-block: 80px;
}

main div.quote p.text {
  font-size: 2.5rem;
  font-weight: lighter;
  font-style: italic;
  margin: 0;
}

main div.quote h1 {
  display: flex;
  justify-content: flex-end;
  margin: 0;
}
/* Footer */

footer {
  background-color: #1f2937;
  color: #f9faf8;
  display: flex;
  padding-block: 20px;
}