* {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
}

header,
footer {
    background-color: #1f2937;
    color: #f9faf8;
}

main {
    flex: 1;
}